$primary-color-orange: #ff6c2c;
$secondary-color-grey: #696969;
$teritary-color-white: white;
$font-stack: Trebuchet MS, Arial, sans-serif;
$default-margin: 15px;
$default-text-align: center;
$default-text-decoration: none;
$semi-bold:600;
